// Variables
$cell-size: calc(max(80px, 15vh));
$player-colors: (red, orange, yellow, lime, green, blue, cyan, pink, purple);

// Mixins
@mixin center($display: null) {
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
	@if ($display) {
		display: $display;
	}
}

// Global
img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.05em 0 0.1em;
	vertical-align: -0.1em;
}
svg.color {
	height: 30px;
	width: 30px;
	fill: red;
	@each $color in $player-colors {
		&.color-#{$color} {
			fill: $color;
		}
	}
	&:hover {
		opacity: 0.6;
	}
	&.selected {
		border: 2px solid #111111;
	}
}
small {
	font-size: 0.85rem;
}

// Main container
.container {
	width: 100vw;
	height: 100vh;
	@include center(flex);

	.board-container {
		box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
		&.blur {
			filter: blur(1px);
		}

		.board {
			@include center(grid);
			grid-template-columns: repeat(3, auto);
			background-color: #fff;

			.cell {
				width: $cell-size;
				height: $cell-size;
				border: 1px solid #000;
				cursor: pointer;
				display: flex;
				@include center;

				// Remove outer borders
				&:nth-child(n + 1):nth-child(-n + 3) {
					// from 1 to 3 - first row
					border-top: none;
				}
				&:nth-child(n + 7):nth-child(-n + 9) {
					// from 7 to 9 - last row
					border-bottom: none;
				}
				&:nth-child(3n + 1) {
					border-left: none;
				}
				&:nth-child(3n + 3) {
					border-right: none;
				}

				// Drawn cells
				svg.draw {
					height: 75%;
					fill: blue;
				}
			}
		}
	}
}

// Cards
.setup,
.game-end {
	display: none;
}
.setup.show,
.game-end.show {
	@include center(flex);
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 1.25rem;

	.container {
		width: 50%;
		margin: auto;
		display: flex;
		flex-direction: column;

		.card {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
			border: 1px solid rgba(0, 0, 0, 0.5);
		}
	}
}
