$cell-size: calc(max(80px, 15vh));

@mixin center($display: null) {
	align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
	@if ($display) {
		display: $display;
	}
}

body {
	font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
		Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.container {
	width: 100vw;
	height: 100vh;
	@include center(flex);

	.board-container {
		box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
		&.blur {
			filter: blur(1px);
		}

		.board {
			@include center(grid);
			grid-template-columns: repeat(3, auto);
			background-color: #fff;

			.cell {
				width: $cell-size;
				height: $cell-size;
				border: 1px solid #000;
				cursor: pointer;
				display: flex;
				@include center;

				// Remove outer borders
				&:nth-child(n + 1):nth-child(-n + 3) {
					// from 1 to 3 - first row
					border-top: none;
				}
				&:nth-child(n + 7):nth-child(-n + 9) {
					// from 7 to 9 - last row
					border-bottom: none;
				}
				&:nth-child(3n + 1) {
					border-left: none;
				}
				&:nth-child(3n + 3) {
					border-right: none;
				}

				// Drawn cells
				svg.mark {
					height: 75%;
					fill: blue;
				}
			}
		}
	}
}

.setup,
.game-end {
	display: none;
}
.setup.show,
.game-end.show {
	@include center(flex);
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.5);
	font-size: 1.25rem;

	.container {
		width: 50%;
		margin: auto;
		display: flex;
		flex-direction: column;

		.card {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			padding: 0.3rem 1rem 1.25rem;
			box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
			border: 1px solid rgba(0, 0, 0, 0.5);
		}
	}
}

.setup {
	input.submit {
	}
}
