$cell-size: calc(max(80px, 7vw));
$enable-shadows: true;

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.board-container {
		@if $enable-shadows {
			box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
		}

		.board {
			display: grid;
			justify-content: center;
			align-content: center;
			justify-items: center;
			align-items: center;
			grid-template-columns: repeat(3, auto);
			background-color: blue;

			.cell {
				width: $cell-size;
				height: $cell-size;
				border: 1px solid red;
				cursor: pointer;

				// Remove outer borders
				&:nth-child(n + 1):nth-child(-n + 3) {
					// from 1 to 3 - first row
					border-top: none;
				}
				&:nth-child(n + 7):nth-child(-n + 9) {
					// from 7 to 9 - last row
					border-bottom: none;
				}
				&:nth-child(3n + 1) {
					border-left: none;
				}
				&:nth-child(3n + 3) {
					border-right: none;
				}

				&:not(.cross):not(.circle):hover {
					opacity: 0.7;
					background-image: url(assets/cross.svg);
				}

				&.cross,
				&.circle {
					cursor: not-allowed;
					background: center/70% no-repeat;
				}

				&.cross {
					background-image: url(assets/cross.svg);
				}
				&.circle {
					background-image: url(assets/circle.svg);
				}
			}
		}
	}
}

.game-end {
	display: none;
}
